.comment-section {
  padding: 150px 0 116px;

  .container {
    max-width: 1187px;
  }

  .section-heading {
    margin-bottom: 62px;
  }
}

.comment-colums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;

  @include media('>=desktop') {
    justify-content: space-between;
  }
  
  .comment-column {
    display: flex;
    padding: 0px 15px;

    @include media('>=tablet') {
      width: 50%;
    }
    
    @include media('>=desktop') {
      width: 33.33%;
    }
  }
}


.comment-card {
  max-width: 356px;
  margin: 0 auto 30px;

  .comment-text-inner {
    background: $gray-07;
    padding: 10px 0;
    margin-bottom: 30px;
  }

  .comment-text {
    font-size: 14px;
    line-height: 1.5;
    margin: 24px 32px;
  }
  
  .coment-img {
    display: block;
    font-size: 28px;
    margin-bottom: 20px;
    color: $red-F7;
  }

  .contact-person {
    font-family: $secondary-font-sans-serif;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: $black;
  }

  .contact-person.person-inform {
    color: $red-F7;
  }
}
