.contact-section {
  padding: 100px 0 108px;

  .section-heading {
    margin-bottom: 60px;
  }
}

.contacts-inner {
  @include media('>=tablet') {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  }

  .contact-column {
    padding: 0 10px;

    @include media('>=tablet') {
      width: 50%;
    }

    @include media('>=desktop') {
      width: 25%;
    }
  }
}

.contact-card {
  font-family: $secondary-font-sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: $gray-99;
  letter-spacing: 0.5px;
  text-align: center;
  max-width: 330px;
  margin: 0 auto 40px;

  .contact-img {
    display: block;
    font-size: 48px;
    margin-bottom: 16px;
  }

  .contact-img-letter {
    display: block;
    font-size: 38px;
    margin-bottom: 26px;
  }

  .contact-inform {
    display: block;
    margin-bottom: 20px;
  }

  .contact-text {
    color: $black;

    .contact-mail {
      color: $red-F7;
      
      &:hover {
        color: $blue-4a;
      }
    }
  }
}
