  .information-section {
  padding: 150px 0 122px;

  .container {
    max-width: 1186px;
  }

  .section-heading {
    margin-bottom: 55px;
  }
} 

.information-colums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
  
  .inform-column {
    display: flex;
    padding: 0px 15px;
    margin: 0 auto;

    @include media('>=tablet') {
      width: 50%;
    }
    
    @include media('>=desktop') {
      width: 33.33%;
    }
  }
}

.inform-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 57px 55px 60px;
  margin-bottom: 28px;
  background: $gray-07;
  max-width: 350px;

  .inform-img {
    font-size: 48px;
    color: $red-F7;
    margin-bottom: 28px;
  }

  .information-text {
    text-align: center;
    font-family: $secondary-font-sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 1.4;
    letter-spacing: 0.4px;
  }
  
  &:hover {
    @include animate(background-color color);
    background-color: $gray-70;
  }
}


