.intro-section {
  background-image: url(/src/images/Rectangle.png);
  background-repeat: no-repeat;
  padding: 194px 0 280px;
  margin: 0;

  .section-heading {
    font-family: $secondary-font-sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
}


