$breakpoints: (
  'xs-phone': 320px,
  's-phone': 375px,
  'phone': 520px,
  'phone-lg': 640px,
  'tablet': 768px,
  'desktop': 1024px,
  'laptop': 1280px,
  'widescreen': 1440px,
  'widescreen-xl': 1600px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// color system

$white: #fff;
$black: #000;
$blue: #002856;

$gray: #9a9a9a;
$gray-99: #999999;
$gray-05: #E5E5E5;
$gray-07: #F7F7F7;
$gray-eb: #ebebeb;
$gray-e1: #e1e1e1;
$gray-70: #707070;
$gray-43: #434a4f;
$gray-40: #404149;
$red: #c00;
$red-F7: #F7654A;
$blue-4a: #4a87f7;


$base-font-sans-serif: 'lato','open sans','arial', 'helvetica neue', 'helvetica', sans-serif;
$secondary-font-sans-serif: 'oswald','open sans','arial', 'helvetica neue', 'helvetica', sans-serif;
$open-sans-serif: 'open sans','arial', 'helvetica neue', 'helvetica', sans-serif;
$base-font-serif: 'times new roman', 'times', 'baskerville', 'georgia', serif !default;
$base-font-path: '../fonts';

// this is the default html and body font-size for the base rem value.
$rem-base: 16px;

// body
$body-text-color: $gray-99;
$body-background-color: $white;
$font-size-base: 1rem;
$line-height-base: 1.36;
$font-family-base: $open-sans-serif;
$font-weight-base: 400;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px; //body min-width

// liks
$link-color: $black;
$link-decoration: none;
$link-hover-color: $red;
$link-hover-decoration: none;

// buttons
$buttons: (
  'button',
  '[type="button"]',
  '[type="reset"]',
  '[type="submit"]',
  '.btn'
);

$btn-color: $black;
$btn-background: $white;
$btn-padding: 14px 30px;
$btn-font-family: $secondary-font-sans-serif;
$btn-font-size: 14px;
$btn-line-height: 1.71;
$btn-font-weight: 500;

// forms
$form-elements: (
  'input[type="text"]',
  'input[type="email"]',
  'input[type="tel"]',
  'input[type="search"]',
  'input[type="password"]',
  'input[type="url"]',
  'input[type="date"]',
  'input[type="datetime"]',
  'input[type="datetime-local"]',
  'input[type="time"]',
  'input[type="week"]',
  'input[type="month"]',
  'input[type="number"]',
  'input[type="color"]',
  'input:not([type])',
  'textarea'
);

$form-element-font-size: $font-size-base !default;
$form-element-padding: 5px 15px !default;
$form-element-height: 50px !default;
$form-background-color: transparent !default;

$placeholder-color: $black !default;
$placeholder-font-size: $form-element-font-size !default;

$textarea-height: 150px !default;
$textarea-padding: $form-element-padding !default;
$textarea-font-size: $form-element-font-size !default;

// headers
$headings: (
  'h1, .h1', 'h2, .h2', 'h3, .h3',
  'h4, .h4', 'h5, .h5', 'h6, .h6'
);
$h1-font-size: 3.125rem; //50
$h2-font-size: 2rem; //32
$h3-font-size: 2.25rem; //36
$h4-font-size: 1.25rem; //20
$h5-font-size: 1.375rem; //22
$h6-font-size: 1.4375rem;

$headings-font-family: $open-sans-serif;
$headings-color: $black;
$headings-font-weight: 500;

// paragraphs

$paragraph-margin-bottom: 0.5em;

// grid
$container-max-width: 1192px;
$gutter: 20px;

// base transition function
$transition-duration-base: 0.35s;
$transition-easing-base: cubic-bezier(0.3, 0.86, 0.36, 0.95);
